# Django Project Settings
# สร้าง SECRET_KEY ใหม่ของคุณเอง คุณสามารถใช้เว็บ Django Secret Key Generator ได้
# หรือรันคำสั่ง: python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
DJANGO_SECRET_KEY="!!! YOUR-SECRET-KEY-HERE !!!"

DJANGO_DEBUG=True
ALLOWED_HOSTS=[]

# Database Settings (PostgreSQL)
DATABASE_NAME=beatguessr
DATABASE_USER=postgres
DATABASE_PASSWORD=your_db_password
DATABASE_HOST=localhost
DATABASE_PORT=5432